body {
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.Latihan {
    color: white;
    text-align: left;
    margin: 1% 10% 2%;
}
hr{
    margin-left: 240px auto;
    margin-right: 240px auto;
}
.Latihan h1 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: black;
    font-style: normal;
}

.Latihan p {
    margin-top: 20px;
    text-align: center;
    margin-left: 250px auto;
    margin-right: 250px auto;
    color: black;

}

.Jawaban {
    text-align: center;
}
.Jawaban button {
    position: relative;
    width: 100px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    margin: 40px 20px;
    font-weight: bold;
    background: brown;
    color: rgba(8, 4, 4, 0.763);
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    border-style: 20px;
    border-radius: 15px;
}

button:hover span {
    width: 200%;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

footer p {
    padding:5px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}

footer a {
    text-decoration: none;
    color: rgb(38, 63, 84);
}